body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

/**
@media (max-width:990px) {
    nav {
        background: #ffffff;
        display:flex;
        flex-direction: column;
        padding: 10px 0;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 50%;
        list-style: none;
        margin: 0;
        padding-top: 2px;
    }

    nav ul li {
        text-align: left;
        vertical-align: middle;
    }

    nav a {
        color: #4f4f4f;
        text-decoration: none;
    }

    .menu-superior {
        height: 35px;
        font-weight: 900;
        text-transform: uppercase;
        border-bottom: 1px solid #e5e5e5;
        font-size: x-small;
    }

    .menu-superior li {
        margin-top: -5px;
    }

    .menu-superior a:hover {
        padding-bottom: 8px;
        border-bottom: 2px solid #0A79D0;
    }


    .menu-ppal {
        height: auto;
        width: 100%;
        display: flex;
        align-items: start;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        font-weight: 700;
        font-size: smaller;
        background-color: white;
        z-index: 10;

    }

    .menu-ppal ul {
        height: 80px;
        width: 80%;
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .menu-ppal li {
        margin: 1% 4px;
        padding: 1% 10px;
    }

    .menu-ppal img {
        vertical-align: middle;
    }
}
*/
/** @media (min-width: 991px) { */
nav {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
    margin: 0;
    padding-top: 2px;
}

nav ul li {
    text-align: center;
    vertical-align: middle;
}

nav a {
    color: #4f4f4f;
    text-decoration: none;
}

.menu-superior {
    height: 35px;
    vertical-align: middle;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    font-size: x-small;
}

.menu-superior li {
    margin-top: -5px;
}

.menu-superior a:hover {
    padding-bottom: 8px;
    border-bottom: 2px solid #0A79D0;
}


.menu-ppal {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    font-weight: 700;
    font-size: smaller;
    background-color: white;
    z-index: 10;

}

.menu-ppal ul {
    height: 80px;
    width: 80%;
    vertical-align: middle;
    align-content: space-around;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu-ppal li {
    margin: 1% 4px;
    padding: 1% 10px;
}

.menu-ppal img {
    vertical-align: middle;
}

/* } */

.menu-ppal button {
    text-transform: uppercase;
    font-size: smaller;
    width: 130px;
    margin-top: -219px;
    padding: 4% 20%;
}

#nuevo-cliente {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

#nuevo-cliente:hover {
    background-color: #C2D8F0;
}

#acceso-cliente {
    background-color: #0A79D0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

#acceso-cliente:hover {
    background-color: #3C95D9;
}


.local-vamos {
    background-image: url(img/ladrillos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    height: 70%;
}



.tabla table {
    width: 40%;
    height: 100%;
    margin: 2%;
    float: right;
    background-color: white;
    border-collapse: collapse;
    font-size: 11px;
}

.tabla thead {
    background-color: #E9E9E9;
}

.tabla td {
    padding: 5px;
}


.neon {
    position: relative;
    margin-top: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

    stroke: #fff;
    width: auto;
    max-width: 900px;

    animation-name: animacion;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animacion {
    0% {
        filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 10px #80ddff) drop-shadow(0px 0px 30px #4dbbff) drop-shadow(0px 0px 50px #009dff);
    }

    100% {
        filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 6px #fff) drop-shadow(0px 0px 15px #80ddff) drop-shadow(0px 0px 40px #4dbbff) drop-shadow(0px 0px 60px #009dff);
    }
}

.eslogan {
    color: white;
    font-size: x-large;
    font-weight: 400;
    margin-top: -200px;
    padding-left: 350px;
    padding-bottom: 100px;
}
@media (min-width: 990px) {
    .menu-especial{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .img-menu {
        grid-area: 1 / 1 / 1 / 2;
    }

    .txt-menu {
        grid-area: 1 / 2 / 1 / 3;
    }
}

@media (max-width: 990px) {
    .menu-especial{
        display: flex;
        flex-direction: column;
    
    }
}
.menu-especial {
    background-image: url(img/fondoMenu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    width: 100%;
    height: 70%;
}

.img-menu img {
    margin-top: 25%;
    margin-left: 25%;
}

.txt-menu {
    margin: 4% 4% 4% 0%;
    padding: 4%;
    width: 85%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: justify;
    line-height: 24px;
    font-size: large;
    font-weight: 400;
    color: #33393e;
}

.txt-menu ul {
    list-style-image: url(img/check.png);
}

.txt-menu a {
    color: #55A2DE;
    text-decoration: none;
}

.take-away {
    margin: 10% 0% 10% 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.txt-away {
    grid-row: 1;
    grid-column: 1;
    margin: 4% 4% 4% 0%;
    padding: 4%;
    z-index: 2;
}

.txt-away h2 {
    font-size: 70px;
    font-weight: 400;
    color: #33393e;
    margin: 0;
    padding: 0;
}

.txt-away h4 {
    font-size: 40px;
    font-weight: 400;
    color: #33393e;
    margin: 0;
    padding: 0;
}

.opciones-away {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
}

.opciones-away div {
    margin: 4% 4% 4% 0%;
    padding: 4%;
    width: 85%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    line-height: 24px;
    font-size: large;
    font-weight: 400;
    color: #33393e;
}

.app {
    grid-row: 1;
    grid-column: 1;
}

.banca {
    grid-row: 1;
    grid-column: 2;
}

.bizum {
    grid-row: 2;
    grid-column: 1;
}

.pago {
    grid-row: 2;
    grid-column: 2;
}

.app-store {
    grid-row: 3;
    grid-column: 1;
}

.play-store {
    grid-row: 3;
    grid-column: 2;
}

.img-away {
    grid-row: 1;
    grid-column: 2;
    animation-name: example;
    animation-duration: 5s;
    overflow: hidden;
    z-index: 1;
}

@keyframes example {
    0% {
        position: absolute;
        right: -100%;
        overflow: hidden;
    }

    100% {
        position: absolute;
        right: 0%;
        overflow: hidden;
    }
}


.nuestras-especialidades {
    background-image: url(img/fondoEspecialidades.jpg);
    text-align: center;
    padding: 50px;
}

.nuestras-especialidades svg {
    width: 50%;
}

.nuestras-especialidades p,
ul {
    text-align: justify;
}

.nuestras-especialidades a {
    color: #55A2DE;
    text-decoration: none;
}

@media (min-width: 990px) {
    .especialidades-arriba {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: fit-content;
    }

    .especialidades-arriba div {
        width: fit-content;
        margin: 1vh;
        padding: auto;
    }

    .especialidades-arriba img {
        width: 40vh;
        height: 24vh;
    }

    .sueños {
        grid-area: 1 / 1 / 1 / 2;
    }

    .compras {
        grid-area: 1 / 2 / 1 / 3;
    }

    .ventajas {
        grid-area: 1 / 3 / 1 / 4;
    }

    .especialidades-abajo {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: auto;
    }

    .especialidades-abajo div {
        width: fit-content;
        margin: 1vh;
        padding: auto;
    }

    .especialidades-abajo img {
        width: 40vh;
        height: 30vh;
    }

    .nueva-casa {
        grid-area: 1 / 2 / 1 / 3;
    }

    .casa-mas-cerca {
        grid-area: 1 / 4 / 1 / 5;
    }
}

@media (max-width: 990px) {
    .especialidades-arriba {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .especialidades-arriba div {
        width: auto;
        margin: 1vh;
        padding: auto;
        background-color: rgb(255, 255, 255, 0.5);
    }

    .especialidades-arriba img {
        width: 40vh;
        height: 24vh;
    }

    .especialidades-abajo {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .especialidades-abajo div {
        width: auto;
        margin: 1vh;
        padding: auto;
        background-color: rgb(255, 255, 255, 0.5);
    }

    .especialidades-abajo img {
        width: 40vh;
        height: 30vh;
    }

}

.especialidades-footer {
    text-align: center;
    padding: 10% 10% 0% 10%;
}

@media (min-width: 990px) {

    .recetas-mas-consultadas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: 5%;
    }

    .consultadas-izq {
        grid-area: 1 / 1 / 1 / 2;
        font-size: 50px;
        font-weight: lighter;
        color: #0B7AD0;
    }

    .consultadas-dch {
        grid-area: 1 / 2 / 1 / 4;
    }
}

@media (max-width: 990px) {

    .recetas-mas-consultadas {
        display: flex;
        flex-direction: column;
        margin: 5%;
    }

    .consultadas-izq {
        font-size: 50px;
        font-weight: lighter;
        color: #0B7AD0;
    }
}

/**Más estilos con bootstrap en el html*/

.consultadas-dch button {
    font-size: x-large;
    font-weight: lighter;
}

footer {
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    padding: 5% 10%;
}