body{
    display: inline-flex;
    text-align: center;
}

nav {
    margin-top: 50px;
    text-align: center;
}

ul {
    display: inline-block;
    text-align: center;
    list-style: none;
}

li {
    float: left;
    margin-right: 100px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform:uppercase;
}

a:hover {
    color: rgb(71, 71, 225);
}