.bg-navbar{
    background-color: #a0d8a9;
}

.bg-footer{
    background-color: #a0d8b4;
}

.btn-save{
    background-color: #4ed26d;
    border-color: #c8c7ce;
}

.btn-save:hover{
    background-color: #86d2a9;
    border-color: #c8c7ce;
}

.btn-new{
    background-color: #31cc46;
    border-color: #c8c7ce;
}

.btn-new:hover{
    background-color: #4ed255;
    border-color: #c8c7ce;
}