.bg-navbar{
    background-color: #bca0d8;
}

.bg-footer{
    background-color: #bca0d8;
}

.btn-save{
    background-color: #4e59d2;
    border-color: #c8c7ce;
}

.btn-save:hover{
    background-color: #868dd2;
    border-color: #c8c7ce;
}

.btn-new{
    background-color: #9a31cc;
    border-color: #c8c7ce;
}

.btn-new:hover{
    background-color: #a24ed2;
    border-color: #c8c7ce;
}